.experience__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.experience__container > div {
    background-color: var(--color-bg-variant);
    padding: 40px 80px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: var(--transition-04-ease);

}

.experience__container > div:hover {
    background-color: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 32px;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
}

.experience__details {
    display: flex;
    gap:16px;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* ===== MEDIA QUERIES (LAPTOP:1200px) ===== */

@media screen and (max-width:1200px) {

    .experience__container > div {
        padding: 40px 50px;
    }
}
/* ===== MEDIA QUERIES (TABLETS:1024px) ===== */

@media screen and (max-width:1024px) {
    
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 32px;
        margin: 0 auto;
    }

    .experience__content {
        padding: 16px;
    }
}

/* ===== MEDIA QUERIES (MOBILES:767px) ===== */

@media screen and (max-width:767px) {
    
    .experience__container {
        gap: 16px;
    }

    .experience__container > div {
        width: 100%;
        padding: 32px 16px;
    }
    
}